@model WebApplication1.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agent.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent.AgentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<div class="no-print">
    <button onclick="window.print()" class="btn btn-success">
        <i class="glyphicon glyphicon-print"></i> In hóa đơn (Print Report)
    </button>
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
</div>
<style>
    /* Khi in sẽ ẩn các nút bấm đi cho chuyên nghiệp */
    @@media print {
        .no-print { display: none; }
        .navbar { display: none; }
    }
</style>